@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --main-light: #ffffff;
  --main-dark: #000000;
  --primary-dark: #222831;
  --secondary-dark: #272e37;

  --gradient-bg: linear-gradient(
    152deg,
    rgba(136, 235, 239, 0.9) -0.04%,
    rgba(83, 91, 230, 0.9) 100%
  );

  --box-shadow: 1px 2px 4px 0px #222831;
  --border-sm: 0.8rem;
  --border-md: 1.2rem;
  --border-xl: 1.8rem;

  --font-family: 'Montserrat', sans-serif;

  --transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-dark);
  color: var(--main-light);
}
